<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mostrar Profesor </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{guardar.css}" type="text/css">
</head>
<body bgcolor="#269CC8">
<font color="black" face="arial" size="3" >
    <h2 class="titulo"> Consulta general de Profesor </h2>
</font>
<font color="black" face="arial" size="3" >
    <br><br>
<table border = "1">
    <thead>
    <tr>
        <th th:text="#{msg.id}" />
        <th th:text="#{msg.nombre}" />
        <th th:text="#{msg.apellido}"/>
        <th th:text="#{msg.direccion}"/>
        <th th:text="#{msg.correo}"/>
        <th th:text="#{msg.telefono}"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="profesor: ${profesores}">
        <td th:text="${profesor.getId()}" />
        <td th:text="${profesor.getNombre()}" />
        <td th:text="${profesor.getApellido()}" />
        <td th:text="${profesor.getDireccion()}" />
        <td th:text="${profesor.getCorreo()}" />
        <td th:text="${profesor.getTelefono()}" />
        <td> <a th:href='@{/usuarios/eliminar/{id}(id=${profesor.getId()})}'>Eliminar</a></td>
        <td> <a th:href='@{/usuarios/modificar/{id}(id=${profesor.getId()})}'>Modificar</a></td>
    </tr>
    </tbody>
</table>
</font>
</body>
<a class="btn btn-warning" th:href ="@{/usuarios/agregar}"> Agregar Profesor </a>
</html>